<!DOCTYPE web-app>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Archetype Created Web Application</display-name>
    <error-page>
        <exception-type>java.sql.SQLException</exception-type>
        <location>/WEB-INF/errors/error500.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>LangFilter</filter-name>
        <filter-class>com.epam.task11.filters.LangFilter</filter-class>
        <init-param>
            <param-name>defaultLocale</param-name>
            <param-value>en</param-value>
        </init-param>
        <init-param>
            <param-name>availableLocales</param-name>
            <param-value>en,ru</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.epam.task11.filters.AccessRestrictionFilter</filter-class>
        <init-param>
            <param-name>restrictionPath</param-name>
            <param-value>META-INF/restriction/restriction.xml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/order</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LangFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>cart</servlet-name>
        <jsp-file>/WEB-INF/order/cart.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>CaptchaStorage</param-name>
        <param-value>cookie</param-value>
    </context-param>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>i18n</param-value>
    </context-param>
    <!--C:/Users/Dmytro_Cherkashyn/Desktop/-->
    <!--C:/Users/Dmytro_Cherkashyn/IdeaProjects-->
    <!--/Users/Dmitriy/Documents/Intellij IDEA Projects/-->
    <!--/Users/Dmitriy/-->
    <context-param>
        <param-name>AvatarImagePath</param-name>
        <param-value>/Users/Slavik/IdeaProjects/pre-production-tasks/avatars/</param-value>
    </context-param>
    <context-param>
        <param-name>ProductImagePath</param-name>
        <param-value>/Users/Slavik/IdeaProjects/pre-production-tasks/products/</param-value>
    </context-param>
    <context-param>
        <param-name>timeCaptchaIsValid</param-name>
        <param-value>120000</param-value>
    </context-param>
    <context-param>
        <param-name>timeLanguageCookie</param-name>
        <param-value>120000</param-value>
    </context-param>
    <context-param>
        <param-name>timeCaptchaCheckRepeats</param-name>
        <param-value>60</param-value>
    </context-param>
    <context-param>
        <param-name>captchaGenerationAlgorithm</param-name>
        <param-value>SHA1PRNG</param-value>
    </context-param>
    <context-param>
        <param-name>captchaGenerationSymbolsNumber</param-name>
        <param-value>6</param-value>
    </context-param>
    <context-param>
        <param-name>LanguageStorageType</param-name>
        <param-value>LanguageStorageTypeSession</param-value>
    </context-param>
    <jsp-config>
        <taglib>
            <taglib-uri>http://epam.com/tags/ctags</taglib-uri>
            <taglib-location>/WEB-INF/tags/taglib.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://epam.com/tags/ftags</taglib-uri>
            <taglib-location>/WEB-INF/tags/filetag.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://epam.com/tags/funcs</taglib-uri>
            <taglib-location>/WEB-INF/tags/funcLib.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>